body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}
header {
	background-color: #33333311;
	color: #fff;
	padding: 1em;
	text-align: center;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}
section {
	background-color: #fff;
	padding: 1em;
	margin: 1em;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
	font-size: 12px;
}
h1, h2 {
	color: #333;
}
h2 {
	text-align: center;
}
ul {
	margin-left: -20px;
}
p {
	margin-bottom: 1em;
}
[data-testid="currentTimeUTC"] {
    color: green;
	font-weight: bolder;
}
[data-testid="slack-info"] {
    text-align: center;
}
[data-testid="links"] {
    text-align: center;
}
a {
    text-decoration: none;
    font-weight: bolder;
	color:blueviolet;
}
[data-testid="hero"] {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin: 0 auto;
}
[data-testid="currentDayTime"] {
	text-align: center;
	width: 17%;
	margin: 0 auto;
	border-radius: 100%;
	border: 2px solid green;
}
[data-testid="currentDay"] {
	color: green;
	margin-top: -17px ;
}

[data-testid="slackDisplayName"] {
	font-size: 40px;
	font-weight: bolder;
	margin-bottom: -15px;
	margin-top: -2px;
}
[data-testid="slackEmail"] {
	font-weight: bolder;
}
[data-testid="slackProfilePicture"] {
	border-radius: 0px 70px 0px 70px;
}
[data-testid="sec"] {
	display: flex;
}
[data-testid="slack-info"] {
	width: 80%;
}
[data-testid="linkss"] {
	display: none;
}
[data-testid="dropdown"] {
	display: none;
}
@media (max-width: 480px) {
	footer {
		text-align: center;
		font-size: 12px;
	}
	[data-testid="hero"] {
		display: none;
	}
	[data-testid="currentDayTime"] {
		text-align: center;
		width: 70%;
		margin: 0 auto;
		border-radius: 100%;
		border: 2px solid green;
	}
	[data-testid="dropdown"] {
		position: relative;
		display: inline-block;
	  }
	  
	  [data-testid="dropdown-toggle"] {
		color: #fff;
		padding: 10px;
		border: none;
		cursor: pointer;
		margin-left: 50px;
	  }
	  
	  [data-testid="dropdown-menu"] {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #f9f9f9;
		border: 1px solid #ccc;
		padding: 10px;
		display: none;
	  }
	  
	  [data-testid="dropdown-menu"] li {
		list-style: none;
		margin: 0;
		padding: 10px;
	  }
	  
	  [data-testid="dropdown-menu"] li a {
		color: #333;
		text-decoration: none;
	  }
	  
	  [data-testid="dropdown-menu"] li:hover {
		background-color: #ccc;
	  }
	  
	  [data-testid="dropdown"]:hover [data-testid="dropdown-menu"] {
		display: block;
	  }
	h2 {
		text-align: center;
	}
	header {
		background-color: #33333311;
		color: #fff;
		padding: 1em;
		text-align: center;
	}
	[data-testid="links"] {
		display: none;
	}
	[data-testid="linkss"] {
		display: grid;
		text-align: center;
	}
	[data-testid="githubLink"] {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 407px) {
	footer {
		text-align: center;
		font-size: 12px;
	}
	[data-testid="hero"] {
		display: none;
	}

	[data-testid="hero2"] {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 0 auto;
	}
	
	[data-testid="currentDayTime"] {
		text-align: center;
		width: 100%;
		font-size: 12px;
		margin: 0 auto;
		border-radius: 100%;
		border: 2px solid green;
	}
	[data-testid="slackDisplayName"] {
		font-size: 30px;
		font-weight: bolder;
		margin-bottom: -15px;
		margin-top: -2px;
	}
	[data-testid="currentDay"] {
		color: green;
		margin-top: -12px ;
	}
	[data-testid="dropdown"] {
		position: relative;
		display: inline-block;
	  }
	  
	  [data-testid="dropdown-toggle"] {
		color: #fff;
		padding: 10px;
		border: none;
		cursor: pointer;
		margin-left: 20px;
	  }
	  
	  [data-testid="dropdown-menu"] {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #f9f9f9;
		border: 1px solid #ccc;
		padding: 10px;
		display: none;
	  }
	  
	  [data-testid="dropdown-menu"] li {
		list-style: none;
		margin: 0;
		padding: 10px;
	  }
	  
	  [data-testid="dropdown-menu"] li a {
		color: #333;
		text-decoration: none;
	  }
	  
	  [data-testid="dropdown-menu"] li:hover {
		background-color: #ccc;
	  }
	  
	  [data-testid="dropdown"]:hover [data-testid="dropdown-menu"] {
		display: block;
	  }
}

@media (max-width: 768px) {
	footer {
		text-align: center;
		font-size: 12px;
	}
	[data-testid="hero"] {
		display: none;
		justify-content: space-around;
		width: 50%;
		margin: 0 auto;
	}
	

	[data-testid="currentDayTime"] {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		border-radius: 100%;
		border: 2px solid green;
	}
	[data-testid="dropdown"] {
		position: relative;
		display: inline-block;
	  }
	  
	  [data-testid="dropdown-toggle"] {
		padding: 10px;
		border: none;
		cursor: pointer;
		
	  }
	  
	  [data-testid="dropdown-menu"] {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #0a020231;
		border: 1px solid #0e010118;
		padding: 10px;
		display: none;
	  }
	  
	  [data-testid="dropdown-menu"] li {
		list-style: none;
		margin: 0;
		padding: 10px;
	  }
	  
	  [data-testid="dropdown-menu"] li a {
		color: #333;
		text-decoration: none;
	  }
	  
	  [data-testid="dropdown-menu"] li:hover {
		background-color: #ccc;
	  }
	  
	  [data-testid="dropdown"]:hover [data-testid="dropdown-menu"] {
		display: block;
	  }
}